@import "../../styles/variables";

.container {
  display: flex;
  align-items: flex-start;
}

.paragraph {
  font-size: $typographySizeSmall;
}

.name-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-container {
  text-align: right;
}

.grid-screen {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  > * {
    padding: calc($baseline * 2);
    background-color: $darkGrey;
    border: 2px solid $lightGrey
  }
}

.grid-films {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: $baseline;
}

.films {
  grid-area: 1 / 3 / 6 / 6;
}
.opening {
  grid-area: 1 / 1 / 4 / 3;
}

.datasheet {
  grid-area: 4 / 1 / 6 / 3;
}

.films-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div {
    width: 50%;
  }
}